*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background: #f2f2f2; */
    /* -scroll-primary: #efefef; */
/* --scroll-secondary: #ccc; */
}

/*.content {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
   
    border: 1px solid red;
    
}*/
/* .content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
} */

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
    
   
}

@media screen and (min-width:640px) {
.container {
    max-width: 640px;
    
}
}
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        
        
    }
}
@media screen and (min-width:1024px) {
    .container {
        max-width: 1024px;
    }
}
@media screen and (min-width:1280px) {
    .container {
        max-width: 1280px;
    }
}
 @media screen and (min-width:1536px) {
        .container {
            max-width: 1536px;
        }
    }


.content-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    margin-top: 20px;
    margin-bottom: 20px;
    
    border: 1px solid rgb(225, 225, 228);
    box-shadow: transparent;
    border-radius: 20px;
    padding: 8px;
    background-color: transparent;
    
}
.content-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}
.catalog-new{
    display: grid;
    grid-column: 9;
    grid-template-columns: auto auto auto auto;
    gap: 24px;
    justify-content: space-between;
    
}
 .single-p{
    background-color: #fff;
    border: 1px solid rgb(238, 235, 235) ;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 1px;
    
}