.main-nav {
   
    display: flex;
    align-items: center;
    
}
.main-nav_link {
    
   
    display: block;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all;
    transition-duration:0s;
    border-radius: 16px;
}
.d {
    margin: 700px;
    background-color: red;
    display: block;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all;
    transition-duration:0s;
    border-radius: 16px;

}
ul li:hover {
    background-color: blue;
    color: #fff; 
    

}