*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 60px;
    height: 60px; */

}

.logo-img {
width: 60px;
height: 60px;
}
/* serachbar styling*/
.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    /* height: 100px; */
    /* flex-basis: 100%; */
   /* max-width: 36rem; */
    /* margin-right: 16px;
    margin-left: 16px;  */
}
.main-searchbar{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* height: 100px; */
    /* flex-basis: 100%;  */
    /* max-width: 36rem;   */
    /* margin-right: 16px;
    margin-left: 16px;  */
width: 50%;
    
}
.searchbar {
    /* background-color: #f0f0f1;  */
    background-color: #fff;
    padding: 4px;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,0.16);
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%; 
    /* position: relative; */
}

  .searchbar-btn {
    border: none;
    background-color:transparent;
    /* position: absolute; */
    /* right: 1rem; */
    width: 50px;
    height: 45px;
    /* top: 0; */
   cursor: pointer;
    text-align: center;
    /* color: currentColor; */
    /* border-radius: 1rem; */
  }
  /* .searchbar-btn:hover {
    cursor: pointer;
  } */

.searchbar-icon {
margin-left: 12px;
margin: 4px;
 width: 30px;
height: 30px; 
display: flex;
justify-content: center;
align-items: center;
  /* color: currentColor; */
}

.searchbar-input { 
    border: none;   
    
    width: 100%;
    padding: 5px; 
    /* background-color: #f0f0f1;  */
    /* color: rgb(106, 108, 135); */
    /* color: rgb(85, 87, 117); */
    color:rgb(74, 95, 115);
    /* border-radius: 1rem; */

}
input:focus {
    outline: none;
   
    
}

.left-header{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap:16px;
    font-size: 14px;
    /* text-decoration: none; */
/* height: 50px;
line-height: 50px;
text-align: center;
width: unset;
padding: 0 12px;
border-radius: 16px;
border: 1px solid #e4e4e4;
color: #4a734d;
font-size: 23px;
white-space: nowrap;
transition: all 0.3s ease-in-out;*/
}
.left-header_img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  }

  .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* color: #4A6DFF;
  border:1 solid rgb(74, 109, 255);
background-color: rgba(74, 109, 255, 0.1); */

  }
/* longin button */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #4A6DFF; */
  /* border:1px solid rgb(74, 109, 255); */
  /* border: 1px solid #e4e4e4; */
  border-radius: 16px;
  /* background-color: rgba(74, 109, 255, 0.1); */

  background-color: rgba(59, 130, 246, 0.1);
  color: rgb(59, 130, 246);
  font-weight:500;
   /* gap: 10px; */
  /* font-size: 14px; */
  /* text-decoration: none; */

padding-left: 10px;

}

.a-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
 
 
  /* border:4 solid rgb(110, 255, 74); */
}

/* cart shopping */

.cartt{
  /* width: 50px;
  height: 50px; */
  display: flex;
  justify-content: center; 
  align-items: center; 
  /* color: #4A6DFF; */
  overflow: hidden;
  border: 1px solid #e4e4e4;
  /* outline-color: rgb(8, 10, 56); */
  border-radius: 16px;
  /* background-color: rgba(74, 109, 255, 0.1); */
  /* background-color: rgb(194, 41, 41); */
  
  /* text-decoration: none; */
}

.cart-content {
   width: 50px;
  height: 50px;
  text-align: center;
  /* fronthooks */
  color: #4A6DFF;
  background-color: rgba(74, 109, 255, 0.1);
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1 solid rgb(74, 109, 255); */
  /* border-radius: 16px; */
/* border-right-color: rgb(74, 109, 255); */
/* background-color: rgba(74, 109, 255, 0.1); */


/* rococket */
/* border-left-color: rgb(247, 248, 249); */
/* color: rgb(59, 130, 246);
background-color: rgba(59, 130, 246, 0.1); */

}
